<script type="text/javascript" charset="utf-8"> 
	$(document).ready(function() {
		$('#jelist_table').dataTable({
	        "bJQueryUI": true,
	        "sPaginationType": "full_numbers"			
			
		});
		// alert("hello")
	} );
</script>


<table  class="display"  id="jelist_table"> 
	<thead>
		<tr> 
			<th>Date</th> 
			<th>Debit Account</th> 
			<th>Credit Account</th> 
			<th>Amount</th> 
			<th>Comment</th>  
			<th>Action</th> 
			
		</tr>		
	</thead> 

<% @jelist.each do |j|%>
      
	<tr>
		<td>      
  	 	<%= j.date.to_s %>
		</td> 
		 
		<td> 
		<%= get_account_name_by_id(j.debit).titleize %> 
		</td>
				
		<td> 		
		 <%= get_account_name_by_id(j.credit).titleize %> 
		</td>
		
		<td class="money"> 		
		 <%= Money.new(j.amount).format(:symbol => false) %> 
		</td>
				
		<td> 		
		 <%= j.comment.to_s %>      
		</td>		
		
		<td>
		<% case @list_type %>   
		  <% when "delete" %>
	        <%= link_to "Delete " + j.id.to_s, j, :method => :delete, :confirm => "You sure?",
	                              :title => "Delete #{j.id}" %>  
		  <% when "update" %>
			<%= link_to "Edit ", edit_je_path(j) %>	
	     
		  <% else %>    
	        <%= link_to "Details" , j%>		 
		<% end %>   
		</td>
	</tr>	              
<% end %>            

</table>