<%= link_to  "All Journal Entries" , jes_path %>


<% if ((defined? flash[:success]) && (/Journal Entry Created/i =~ flash[:success])) %>   

<p> <%= link_to "Create Another Journal Entry", new_je_path %></p>           

<% end%>   



<% credit = Account.find(@je.credit)%>   
<% debit  = Account.find(@je.debit )%>   

<h3>Id: <%= @je.id.to_s %></h3>       

<h3>Debit  Account: <%= get_account_name_by_id(@je.debit).titleize %></h3>       

<h3>Credit Account: <%= get_account_name_by_id(@je.credit).titleize %></h3>       

<h3> Amount: <%= Money.new(@je.amount).format(:symbol => false) %></h3>
 
                                                          
<h3> Date: <%= @je.date.to_s %></h3>
                      
<h3>Comment: <%= @je.comment %></h3>          


<p> <%= link_to "Edit", edit_je_path(@je) %></p>           
