
<style type="text/css">

.tr.odd {
	background-color: white;
}

.tr.even {
	background-color: white;
}   
</style>


<table class="front_page_table">
	<tr><td>Accounts</td><td>Journal Entries</td><td>Reports</td></tr>        
  <tr>
	<td>
	  <%= link_to  "Chart of Accounts" , accounts_path %>       
	</td> 
	
	<td>
	  <%= link_to  "All Journal Entries" , jes_path %>       
	</td>	

	
	<td>
	  <%= link_to  "Balance Sheet" , '/reports/balancesheet' %>       
	</td>	

	
  </tr> 
  <tr>
	<td>
	  <%= link_to  "Create Account" , new_account_path %>      
	</td>   
	
	<td>
	  <%= link_to  "Create Journal Entry" , new_je_path %>      
	</td>	

	<td>
	  <%= link_to  "Income Statement" , '/reports/pandl' %>       
	</td>
	
  </tr>   
</tr>   
<tr>
	<td>
	  <%= link_to  "Edit Account" , '/accounts/updatelist' %>      
	</td>
	<td>
	  <%= link_to  "Edit Journal Entry" , '/jes/updatelist' %>      
	</td>
</tr>

  <tr>
	<td>
	  <%= link_to  "Delete Account" , '/accounts/deletelist' %>      
	</td>
	<td>
	  <%= link_to  "Delete Journal Entry" , '/jes/deletelist' %>      
	</td>	
  </tr>
</table>