<table border=1>
	<tr><td>Accounts</td><td>Journal Entries</td></tr>        
  <tr>
	<td>
	  <%= link_to  "Chart of Accounts" , accounts_path %>       
	</td>
  </tr> 
  <tr>
	<td>
	  <%= link_to  "Create Account" , new_account_path %>      
	</td>   
	
	<td>
	  <%= link_to  "Create Journal Entry" , new_je_path %>      
	</td>	
	
  </tr>   
</tr>   
<tr>
	<td>
	  <%= link_to  "Edit Account" , '/accounts/updatelist' %>      
	</td>
</tr>

  <tr>
	<td>
	  <%= link_to  "Delete Account" , '/accounts/deletelist' %>      
	</td>
  </tr>
</table>