<header>
  <%= link_to logo, root_path %>
  <nav class="round">
    <ul>
      <li><%= link_to "Home",     root_path     %></li>       
      <li><%= link_to "Reports",  reports_path  %></li>
      <li><%= link_to "Accounts", accounts_path %></li>
      <li><%= link_to "Journal",  jes_path      %></li>

    </ul>
  </nav>
</header>